.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 1rem 1rem;
  text-align: center;
}

.profilePicture {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 100%;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.username {
  margin-top: 0;
}

.fontBold {
  font-weight: 700;
}

.bioContainer {
  margin: 2rem 0 3rem 0;
}
